--extra-index-url https://download.pytorch.org/whl/cpu
Flask==3.0.0
torch==2.1.2+cpu
transformers==4.36.2
accelerate==0.25.0
Pillow==10.1.0
Werkzeug==3.0.1
deep-translator==1.11.4
gunicorn==21.2.0
numpy<2.0.0
